<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style>
	th{width: 50%;}
	td{padding-left: 20px;}
</style>
</head>
<body>
<center>
	<h3>系统信息</h3>
	<table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#ccc">
		<tr>
			<th>操作系统</th>
			<td>Windows</td>
		</tr>
		<tr>
			<th>Apache版本</th>
			<td>Apache5.6</td>
		</tr>
		<tr>
			<th>PHP版本</th>
			<td>PHP5.4</td>
		</tr>
		<tr>
			<th>运行方式</th>
			<td>xxxx</td>
		</tr>
	</table>
	<h3>项目信息</h3>
	<table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#ccc">
		<tr>
			<th>项目名称</th>
			<td>佩奇问卷网</td>
		</tr>
		<tr>
			<th>开发团队</th>
			<td>电商34&计科34的小伙伴</td>
		</tr>
		<tr>
			<th>公司网址</th>
			<td><a href="">xxx</a></td>
		</tr>
		<tr>
			<th>成功案例</th>
			<td>xxx</td>
		</tr>
	</table>
</center>

</body>
</html>