*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    width: 100%;
    background: #0C2C4A;

}
.container{
    padding-top: 20px;
    height: 627px;
    background: url("../image/bg_fistScreen.jpg") bottom no-repeat;
    background-size: 100%;
}
.logo{
    width: 150px;
    height: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}
nav ul{
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    margin-left: 15px;
}
nav ul li a{
    color: #f1f1f1;
}
.logo a{
    color: #f1f1f1;
    font-size: 30px;
}
.login-box{
    width: 500px;
    height: 520px;
    margin: 0 auto;
    text-align: center;
}

.input{
    width: 400px;
    height: 40px;
    display: block;
    margin: 20px auto;
    font-size: 18px;
    color: #ffffff;
    padding-left: 20px;
    border: 1px solid rgba(255,255,255,.3);
    outline: none;
    background: rgba(0,0,0,.3);
    border-radius: 4px;
}
input::-moz-placeholder{
    color: rgba(255,255,255,.4);
    font-size: medium;
}
input::-webkit-input-placeholder{
    color: rgba(255,255,255,.4);
    font-size: medium;
}
input:-ms-input-placeholder{
    color: rgba(255,255,255,.4);
    font-size: medium;
}
button{
    width: 420px;
    height: 60px;
    background: #2D8FD9;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 20px;
    line-height: 60px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover{
    background: #4D98D1;
}
.check{
    color: #ffffff;
    text-align: left;
    margin-left: 25px;
}
.check a{
    color:#4D98D1 ;
}
