body{
    font-size: 16px;
    margin: 0 0;
    background: #f1f1f1;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #000;
}
.clear{
    clear: both;
}

header{
    height: 180px;
    background: #3B7CB9;
}
nav .logo{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 24px;
}
nav ul{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: #f1f1f1;
}

.research{
    width: 380px;
    height: 30px;
    margin: 60px auto 10px;
}
.research input{
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
    float: right;
    outline: none;
}
.research button{
    float: right;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #ffffff;
    background-image: url("../image/search.png");
    background-position: center center;
    background-size: 170%;
    outline: none;
    cursor: pointer;
    margin-right: -300px;

}



.add{
    float: right;
    margin-right: 100px;
    color: #000;
    margin-top: 30px;
    vertical-align: middle;
}


/*.list{*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*display: inline;*/
    /*float: left;*/
    /*margin: 30px 20px;*/
    /*box-shadow: 0 0 15px;*/
    /*background-color: #ffffff;*/
    /*border-radius: 5px;*/
    /*text-align: center;*/
/*}*/
/*.list a{*/
    /*font-size: 22px;*/
    /*width: 300px;*/
    /*height: 160px;*/
    /*margin: 0 auto;*/
    /*line-height: 160px;*/
    /*cursor: pointer;*/
/*}*/
.time{
    height: 40px;
    line-height: 40px;
}

.page{
    width: 30%;
    height: 30px;
    margin: 0 auto;

}
.page li{
    display: inline-block;
    padding: 0 5px;
}

