@charset "utf-8";
/* CSS Document */

.cotrlBtn{width: auto; text-align: center; display:inline-block;height:32px;line-height: 14px;cursor: pointer;font-size: 12px; border-radius:2px; padding: 8px 16px;margin-bottom: 0; font-weight: normal;white-space: nowrap;vertical-align: middle;background-image: none; -webkit-appearance: button; -webkit-user-select: none;}
a.cotrlBtn{height:14px;line-height: 14px;text-decoration: none; border: none; outline: none; font-size: 12px; border-radius:2px; font-weight: normal;white-space: nowrap;vertical-align: middle;background-image: none; -webkit-appearance:none; -webkit-user-select: none;}
.btnDefault,a.btnDefault{color: #666; border:1px solid #ddd; background-color: #f7f7f7;}
.btnDefault:hover,a.btnDefault:hover{color: #555;background-color:#fff;border-color: #ddd;}
.cotrlBtn:active,
.cotrlBtn.active,
a.cotrlBtn:active,
a.cotrlBtn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.color-green{color: #008000;}


.home-desktop{
	position: absolute;
	padding: 20px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}


/*查询条件样式*/
.condition-box{padding: 20px; background:#fff; margin-bottom: 2px;}
.condition-box .condition-items{width: auto; height: 32px; line-height: 32px; display: inline; float: left; margin:3px; margin-right: 20px;}
.condition-box .condition-items .condition-title{width: auto; display: inline-block; margin-right: 5px;}
.condition-txt[type=text],.condition-txt[type=password],.condition-txt[type=email],.condition-txt[type=search]{
	  padding: 0 5px;
    width:150px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: inline-block;
    position: relative;
    top: 2px;
}
.condition-box .condition-items .cotrlBtn{margin-left: 5px;}
.condition-box .condition-items .dc_select,
.condition-box .condition-items .condition-title,
.condition-box .condition-items .condition-txt,
.condition-box .condition-items .cotrlBtn{vertical-align: middle;}

.set-user-info-menu li{height: 30px; line-height: 30px; margin-bottom: 3px; background:#f8f8f8;}
.set-user-info-menu li a{display: block; padding: 0 5px; color:#666; text-align: center; font-size: 14px;}
.setItem-section{height: 30px; line-height: 30px; padding:0 5px; display:inline-block; color:#666; font-size: 14px;}

/*在线考试*/
.create-questions-content{width:1025px; padding-left:125px; padding-right:0px; position: relative;}
.exam-nav{width:122px; background: #fff; position:absolute; left: 0;z-index:8;}
.exam-item-title{line-height: 30px;height:30px;padding: 5px 0 5px 0; text-align: center; font-size: 16px;border-bottom: 1px solid #eaedf1; color:#666; cursor: pointer;}
.exam-item-title i{margin-left:5px;}
.exam-nav-list>li:not(.ui-module){line-height: 30px;height:30px;font-size: 12px;padding: 2px 0;background: #fff;border-bottom: 1px solid #eaedf1;}
.exam-nav-list>li:not(.ui-module) a{display: block;padding: 0 8px; color:#666;}
.exam-nav-list>li:not(.ui-module) a i{margin-right:3px; font-size:14px;}
.exam-nav-list>li:not(.ui-module):hover{
	  /* box-shadow: 0px 0px 20px 10px rgba(255,255,255,1); */
    -webkit-animation: blurS 0.2s linear 1;
    -moz-animation: blurS 0.2s linear 1;
    animation: blurS 0.2s linear 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    /* opacity: 0.8; */
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }
.exam-nav-list>li:not(.ui-module):active{
	  /* box-shadow: 0px 0px 20px 10px rgba(255,255,255,1); */
    -webkit-animation: blurS 0.2s linear 1;
    -moz-animation: blurS 0.2s linear 1;
    animation: blurS 0.2s linear 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    /* opacity: 0.8; */
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }
.questions-head-title{width:auto; min-height:50px; padding-left:55px; background:#fff;}
.questions-head-title h4{width:92%; padding:10px 5px; min-height:20px; line-height:20px; position: relative; top:5px; bottom:5px; text-align: center;}
table.questions-items-title{width:100%; height:50px; background:#fff; border-collapse:collapse; border-spacing:0; border-top:1px solid #eee; border-bottom:1px solid #eee;}
table.questions-items-title td.module-menu{width:40px; height:40px; border-right: 1px solid #eee;}
table.questions-items-title td{padding:5px;}
table.questions-items-title td .cq-title{width:92%; min-height:20px; line-height:20px; padding:10px 5px;}
.ui-questions-content-list{min-height:120px;}
.ui-questions-content-list>li.ui-module,
.exam-nav-list>li.ui-module{width:900px; background:#fff; margin: 8px 0; color:#666;}
.ui-questions-content-list>li.ui-module .theme-type,
.exam-nav-list>li.ui-module .theme-type{position: relative; padding-left:50px;}
.ui-questions-content-list>li.items-questions .theme-type{min-height:160px;}
.ui-questions-content-list>li.ui-module .theme-type .module-menu,
.exam-nav-list>li.ui-module .theme-type .module-menu{position: absolute; width:50px; height:100%; left: 0; top: 0; border-right: 1px solid #eee;}
.ui-questions-content-list>li.ui-module .theme-type .module-menu h4{height:30px; line-height:30px; margin:5px 0; font-size:14px; overflow: hidden; text-align: center;}
.ui-questions-content-list>li.ui-module .theme-type .module-menu .module-ctrl{width:30px; text-align: center; margin:0 auto; margin-top:10px;}
.ui-questions-content-list>li.ui-module .theme-type .module-menu .module-ctrl a{display: none; height:24px; line-height:24px; margin:3px auto; font-size:16px; color:#999;}
.ui-questions-content-list>li.ui-module .ui-drag-area,
.exam-nav-list>li.ui-module .ui-drag-area{width:auto; min-height:30px; padding:5px; cursor: move; border-bottom: 1px solid #eee;}
.ui-questions-content-list>li.ui-module .cq-title,
.exam-nav-list>li.ui-module .cq-title{width:92%; min-height:20px; line-height:20px; padding:5px; font-size:16px;}
.ui-questions-content-list>li.ui-module .cq-items-content,
.exam-nav-list>li.ui-module .cq-items-content{padding:5px; white-space: normal;word-wrap: break-word;}
.ui-questions-content-list>li.ui-module .cq-items-ctrl{font-size:16px; margin-top:15px; height:26px;}
.ui-questions-content-list>li.ui-module .cq-items-ctrl a{display: inline-block; width:20px; height:20px; line-height:20px;color:#999;}
.ui-questions-content-list>li.ui-state-highlight{height:15px; background:#F0AD4E;}
.ui-questions-content-list>li.ui-module .theme-type:hover .module-menu .module-ctrl a{display: block;}
.ui-questions-content-list>li.ui-module .theme-type:hover .cq-items-ctrl a{display:inline-block; visibility: visible;}
.ui-questions-content-list>li.ui-module .ui-drag-area:active .T_edit{background: none !important;}
.ui-questions-content-list>li.ui-module .cq-unset-list>li,.exam-nav-list>li.ui-module .cq-unset-list>li{padding-left:22px;position: relative;}
.ui-questions-content-list>li.ui-module .cq-unset-list li>.input-check,.exam-nav-list>li.ui-module .cq-unset-list li>.input-check{width:21px; height:21px; line-height:21px; text-align: center; position: absolute; left:0px; top:0px;}
.ui-questions-content-list>li.ui-module .cq-unset-list li>.input-check input,.exam-nav-list>li.ui-module .cq-unset-list li>.input-check input{position: relative; top:4px;}
.ui-questions-content-list>li.ui-module .cq-unset-list li,.exam-nav-list>li.ui-module .cq-unset-list li{line-height:21px; margin:11px 0; font-size: 14px;}
.ui-questions-content-list>li.ui-module .cq-unset-list li .cq-answer-content{max-width:800px;}
.ui-questions-content-list>li.ui-module .cq-unset-list li label,.exam-nav-list>li.ui-module .cq-unset-list li label{display: inline-block;}


.exam-nav-list>li.ui-module{z-index:88;}
.exam-nav-list>li.ui-module .theme-type .module-menu h4,
.exam-nav-list>li.ui-module .theme-type .module-menu .module-ctrl,
.exam-nav-list>li.ui-module .theme-type .module-menu .module-ctrl a{display: none;}
.exam-nav-list>li.items-questions .theme-type{height:160px;}
.ui-questions-content-list>li.ui-module .cq-items-ctrl a,
.exam-nav-list>li.ui-module .cq-items-ctrl a{visibility: hidden;}

.cq-into-edit{position: absolute; background:#fff; z-index: 999;}
.cq-into-edit .cq-edit-title{min-height: 21px;line-height: 21px; min-width:750px; padding: 0px 3px; outline: none;}
.move-tisp-box{position: absolute; text-align: center; height:30px; line-height:30px; padding:0 10px; background: rgba(0,0,0,0.6); color:#fff; font-size:14px; border-radius:5px; z-index:88;}
.edit-plug-box{width:auto; height:40px; line-height:40px; padding:0px 10px; text-align: center; position: absolute; top:-41px; right:0px; background:#fff; border:1px solid #666;}
.edit-plug-box a{padding:0 10px; display: inline-block; font-size:20px;}
textarea.exam-textarea,.exam-textarea{width:96%; min-height:120px; padding:3px; line-height:1.5; color:#666; border: 1px solid #ddd; word-break: break-all; font-size:14px; resize:none;}
.describe-edit-content{width:820px; min-height:100px; padding:0 3px;}

@media screen and (min-width:1000px){
}
@media screen and (min-width:1280px){
}
@media screen and (min-width:1360px){
}
@media screen and (min-width:1440px){
}
@media screen and (min-width:1680px){
} 
@media screen and (min-width:1920px){
}